################################
# OS files
################################
.DS_Store
Thumbs.db

################################
# VS Code
################################
.vscode/
*.code-workspace

################################
# IDEs
################################
.idea/
*.iml

################################
# Logs
################################
*.log
logs/

################################
# Environment files
################################
.env
.env.*

# Node modules
/frontend/node_modules/
/frontend/node_modules

